<div class="container">
	{{#each messages.alert as |alert| }}
	<div class="alert alert-danger" role="alert">
		{{alert}}
	</div>
	{{/each}}
	{{#each messages.info as |alert| }}
	<div class="alert alert-info" role="alert">
		{{alert}}
	</div>
	{{/each}}
</div>
