<h1>Madlibs</h1>

<h4>Words you can use:</h4>
<ul>
  <li>noun</li>
  <li>verb</li>
  <li>adverb</li>
  <li>adjective</li>
</ul>
<h5>Put each madlib word in "&#123;&#123;" and "&#125;&#125;"</h5>
<h5>Example: &#123;&#123; noun &#125;&#125;</h5>
<form class="form" action="/madlib/make" method="post">
  <textarea name="madlib" rows="8" cols="80"></textarea>
  <input class="btn btn-default" type="submit" name="" value="Make a madlib">
</form>
