<form class='row' action='/login' method='POST'>
  <div class='form-group'>
    <label for='email'>Email</label>
    <input type='email' name='email' value='bob@aol.com'>
  </div>
  <div class='form-group'>
    <label for='password'>Password</label>
    <input type='password' name='password'value='BOBRULES'>
  </div>
  <button class='btn btn-success' type='submit'>LOGIN</button>
</form>
<a href='/signup' type='submit'>GO TO SIGNUP</a>
