<h2>Sign Up</h2>

<form action="/register" method="post">
  <label>First Name:</label><input name="fname" type="text">
  <label>Last Name:</label><input name="lname" type="text">
  <label>Password:</label><input name="password" type="password">
  <label>Email:</label><input name="email" type="email">
  <input type="submit">
</form>