<form class='row' action='/users' method='POST'>
  <div class='form-group'>
    <label for='email'>Email</label>
    <input type='email' name='email' value='bob@aol.com'>
  </div>
  <div class='form-group'>
    <label for='password'>Password</label>
    <input type='password' name='password'value='BOBRULES'>
  </div>
  <button class='btn btn-success'  type='submit'>Join Us!!!!NOW</button>
</form>
<a href='/login' type='submit'>GO TO LOGIN</a>
