<h1>Logged in Page</h1>

<form action="/login" method="post">
	<label for="">Username</label>
	<input type="username" name="username" id="username" required="true" class="form-control">
	<label for="">Password</label>
	<input type="password" name="password" id="password" required="true" class="form-control">
  <button class="btn btn-default">Log In</button>

</form>
<form action="/api/users" method="post">
	<label for="">Username</label>
	<input type="username" name="username" id="username" required="true" class="form-control">
	<label for="">Password</label>
	<input type="password" name="password" id="password" required="true" class="form-control">
  <button class="btn btn-default">Log In</button>

</form>
